body {
    background-color: #f5f5dc;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 100%;
}
h1 {
    font-weight: normal;
    text-align: center;
    color: #B20000;
    font-size: 4em;
    line-height: 0.85em;
    margin: 0px;
}
.big {
    font-size: 6em;
}
h2 {
    font-weight: normal;
    text-align: center;
    color: #8E0000;
    font-size: 1.5em;
    line-height: 0.9em;
    margin: 0px;
}
form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.main {
    text-align: center;
    font-size: 24px;
    line-height: 0em;
    margin: 0.65em
}
.submit {
    width: 250px;
    height: 35px;
    margin: 0.25em;
    font-size: 18px;
    font-family: 'Chau Philomene One', sans-serif;
}
.field {
	vertical-align: top;
    font-size: 36px;
    text-align: center;
    width: 250px;
    background-color: #F9F9EC;
    font-family: 'Chau Philomene One', sans-serif;
}
.fieldsm {
    font-size: 18px;
    text-align: center;
    width: 250px;
    background-color: #F9F9EC;
    font-family: 'Chau Philomene One', sans-serif;
}
.editLabel {
    position: absolute;
    right: 100%;
    margin-right: 10px;
    width:150px;
    text-align:right;
}
.editCellLeft {
    position: relative;
    width: 80px;
    float: left;
    box-sizing: border-box;
    margin-left:170px;
    margin-bottom:20px;
}
.editCellRight {
    position: relative;
    width: 80px;
    float: right;
    box-sizing: border-box;
    margin-left:170px;
    margin-right:170px;
    margin-bottom:20px;
}
.editNum {
    width: 100%;
    height: 18px;
    margin-bottom:2px;
    margin-top: 2px;
}
.editHeaderLeft {
    font-weight: normal;
    text-align: center;
    color: #8E0000;
    font-size: 1.5em;
    line-height: 0.9em;
    margin-left: 130px;
    width: 120px;
    float: left;
}
.editHeaderRight {
    font-weight: normal;
    text-align: center;
    color: #8E0000;
    font-size: 1.5em;
    line-height: 0.9em;
    margin-right: 170px;
    width: 120px;
    float: right;
}

table {
    width: auto;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 2px;
    background-color:#F4F4F9;
}
th {
    border: 1px solid black;
    padding: 4px;
    background-color: #e6EEEE;
}
.flag {
    font-weight:bold;
    color:#B20000 !important;
    font-size:16px;
}
a:link {
    color: #0000B8;
    text-decoration: none;
}
a:visited {
    color: #0000B8;
    text-decoration: none;
}
a:hover {
    color: #0000B8;
    text-decoration: underline;
}
a:active {
    color: #0000B8;
    text-decoration: underline;
}
#apr {
    display: inline-block;
    border: 2px solid black;
    width: 100px;
    height: 140px;
    text-align: center;
    vertical-align: top;
    background-color: #F4F4F9;
}
#stats {
    display: inline-block;
    border: 2px solid black;
    width: 190px;
    height: 140px;
    text-align: center;
    vertical-align: top;
    background-color:#F4F4F9
}
.commentbox {
    border: 2px solid black;
    text-align: center;
    background-color:#F4F4F9;
    margin: 4px;
}
.commentbox p {
    margin: 2px;
    text-align: left;
}
.statbox {
    line-height: 0.5em;
    margin: 0.68em;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	padding-right: 20px;
	padding-left: 6px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
img {
    max-width: 400px;
    max-height: 500px;
}
textarea {
    resize: vertical;
    margin: 0 auto;
    width: 600px;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 16px;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    
    .big
      {
        font-size: 2em !important;
    }
}